html {
    scroll-behavior: smooth;
}

body {
    background-color: #298fca;
}

.navbar {
    background-color: white;
    
}

.navbar-toggler {
    background-color: #d3d3d3;
}

.btn-grey:link, .btn-grey:visited {
    background-color: #d3d3d3;
    color: black;
    font-family: 'Questrial', sans-serif;
}

.btn-grey:hover, .btn-grey:active {
    background-color: black;
    color: white;
}

.title {
    text-align: center;
    color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 65px;
}

.name {
    text-align: center;
    background-color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 70px;
    padding-top: 25px;
    border-bottom: 5px solid black;
}

#projects {
    padding-top: 50px;
}

.proj_imgs {
    padding-top: 30px;
    padding-bottom: 40px;
}

a.img_link:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#about_me {
    padding-top: 70px;
}

.about_items {
    padding-top: 40px;
}

.profile_bio {
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
    line-height: normal;
}

/* phone styles */
@media (min-width: 375px) {
    .profile_bio { 
        font-size: 20px; 
    }
     .title {
        font-size: 50px;
    }

    .footer_title {
        font-size: 50px;
    }

     .name {
        font-size: 55px;
    }
}

/* small tablet styles */
@media (min-width: 768px) {
    .profile_bio { 
        font-size: 14px; 
    }

    .title {
        font-size: 55px;
    }

    .footer_title {
        font-size: 55px;
    }

    .name {
        font-size: 60px;
    }
}


/* large tablet styles */
@media (min-width: 1024px) {
    .profile_bio { 
        font-size: 18px; 
    }

    .title {
        font-size: 60px;
    }

    .footer_title {
        font-size: 60px;
    }

    .name {
        font-size: 65px;
    }
}

/* laptop styles */
@media (min-width: 1200px) {
    .profile_bio { 
        font-size: 22px; 
    }

    .title {
        font-size: 65px;
    }

    .footer_title {
        font-size: 65px;
    }

    .name {
        font-size: 70px;
    }
}

.footer {
    background-color: white;
    border-top: 5px solid black;
}

.footer_title {
    font-family: 'Questrial', sans-serif;
    font-size: 65px;
    color: black;
}

.footer_email .footer_linked_in {
    font-size: 24px;
    padding-top: 80px;
}

a:link, a:visited {
    color: black;
}

a:hover, a:active {
    color: rgb(199, 55, 55);
}

.footer_copyright {
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
    color: black;
}

a.back_to_top {
    display: none;
    background: none;
    text-decoration: none;
    background-color: transparent;
    color: black;
    margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
    height: 70px;
    z-index: 100;
}

a.back_to_top i {
    font-size: 60px;
}

a.back_to_top:hover, a.back_to_top:active {
	color: rgb(199, 55, 55);
}