html {
	scroll-behavior: smooth;
}

body {
	background-color: #298fca;
}

.navbar {
	background-color: white;
	color: black;
}

/* phone styles */
@media (min-width: 375px) {
	.navbar-header {
		position: absolute;
    	transform: scale(0.75) translate(103px, 170px);
	}

	.header {
		padding-top: 145px;
	}
}

/* small tablet styles */
@media (min-width: 768px) {
	.navbar-header {
		position: absolute;
		left: 50%;
    	transform: translate(-50%, 25px);
	}

	.header {
		padding-top: 70px;
	}
}

.header {
	background-color: white;
	text-align: center;
	border-bottom: 6px solid black;
}

.title {
	text-align: center;
	font-family: 'Questrial', sans-serif;
	font-size: 60px;
	color: black;
	font-weight: bold;
}

.description {
	text-align: center;
	font-family: 'Questrial', sans-serif;
	font-size: 25px;
	line-height: 29px;
}

.container {
	background-color: white;
}

.detail_headers {
	font-family: 'Questrial', sans-serif;
	font-size: 32px;
	font-weight: bold;
}

.detail_bio {
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
}

hr {
	border: 2px solid black;
}

a:link, a:visited {
	color: blue;
}

a:hover, a:active {
	color: rgb(175, 49, 49);
}

.proj_title {
	font-family: 'Questrial', sans-serif;
	font-size: 300%;
	font-weight: bold;
}

.info {
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
	line-height: 23px;
	text-align: left;
}

.list_headers {
	font-family: 'Questrial', sans-serif;
	font-size: 35px;
	line-height: 55px;
}

.img_headers {
	font-family: 'Questrial', sans-serif;
	font-size: 30px;
}

.imgs {
	border: 1px solid black;
}

/* phone styles */
@media (min-width: 375px) {
    .portrait_img {
    	max-height: 250px;
    }
}

/* small tablet styles */
@media (min-width: 768px) {
    .portrait_img {
    	max-height: 180px;
    }
}

/* large tablet styles */
@media (min-width: 1024px) {
    .portrait_img {
    	max-height: 250px;
    }
}

/* laptop styles */
@media (min-width: 1200px) {
    .portrait_img {
    	max-height: 300px;
    }
}

a.page_switch:link, a.page_switch:visited {
	color: blue;
	text-decoration: none;
	display: inline-block;
}

a.page_switch:hover, a.page_switch:active {
	color: rgb(199, 55, 55);
}

.switches {
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
}

.footer {
	background-color: white;
	border-top: 6px solid black
}

.footer_copyright {
	font-family: 'Questrial', sans-serif;
	font-size: 22px;
	color: black;
}

a.back_to_top {
    display: none;
    background: none;
    text-decoration: none;
    background-color: transparent;
    color: black;
    margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
    height: 70px;
    z-index: 100;
}

a.back_to_top i {
    font-size: 60px;
}

a.back_to_top:hover, a.back_to_top:active {
	color: rgb(199, 55, 55);
}